.Container {
  max-width: 1250px;
  margin: auto;
  margin-top: 46px;
}

.Container > .buttons {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
}

.contries {
  max-width: 1280px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  row-gap: 72px;
  column-gap: 64px;
  margin-top: 46px;
}

@media only screen and (max-width: 1280px) {
  .Container > .buttons {
    margin-inline: 15px;
  }
  .contries {
    grid-template-columns: auto auto auto;
  }
}

@media only screen and (max-width: 940px) {
  .Container > .buttons {
    margin-inline: 15px;
  }
  .contries {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 720px) {
  .contries {
    grid-template-columns: auto;
  }

  .Container > .buttons {
    display: flex;
    margin-inline: 15px;
    flex-direction: column;
    gap: 50px;
  }

  .Container {
    margin-top: 46px;
  }
}
/* at 1280px set grid template columns to auto auto auto */
