.searchBar {
  height: 56px;
  width: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: inherit;
  border-radius: 5px;
}

.searchBar > div {
  position: absolute;
  width: 76px;
  left: 0;
}

.searchBar > div > svg {
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 22px;
}

.inputFeild {
  height: inherit;
  width: 480px;
  padding-left: 72px;
  background-color: hsl(20%, 0%, 100%);
  color: inherit;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgb(173, 173, 173);
}

.inputFeildDark {
  height: inherit;
  width: inherit;
  padding-left: 72px;
  background-color: hsl(209, 23%, 22%);
  color: inherit;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgb(27, 27, 27);
}

@media only screen and (max-width: 600px) {
  .searchBar {
    max-width: 330px;
  }
}

@media only screen and (max-width: 300px) {
  .searchBar {
    max-width: 250px;
  }
}
