.dropdown {
  background-color: inherit;
  color: inherit;
  padding: 18px;
  width: 200px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 10px 1px rgb(173, 173, 173);
  background-color: hsl(0, 0%, 100%);
}
.dropdownDark {
  background-color: inherit;
  color: inherit;
  padding: 18px;
  width: 200px;
  border-radius: 5px;
  border: none;
  background-color: hsl(209, 23%, 22%);
  box-shadow: 0px 0px 10px 1px rgb(27, 27, 27);
}
