.nav {
  max-width: 1440px;
  margin: auto;
  display: block;
  background-color:hsl(0, 0%, 100%);
}

.navDark {
  max-width: 1440px;
  margin: auto;
  display: block;
  background-color: hsl(209, 23%, 22%) ;
}

.container {
  max-width: 1250px;
  margin: auto;
  height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10px;
}


.container > h1 {
  font-size: 24px;
}

.line {
  max-width: 1440px;
  height: 3px;
  background: hsl(0, 0%, 52%);
  opacity: 0.2;
}
.container .right {
  display: flex;
  align-items: center;
  color: inherit;
}
.container .right > span {
  font-weight: 600;
  font-size: 18px;
  padding-left: 10px;

}

